body{
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
}
.contenedor{
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
}
.contenedor-interno{
    width: 375px;
    background-color: white;
    text-align: center;
    padding: 10px;
    border-radius: 16px;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.contenedor-interno * {
    margin-top: 10px;
}
img{
    width: 335px;
    border-radius: 16px;
}