body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*
al colocar el atributo fixed, convierte al elemento en inline
*/
header{
    position: fixed;
    height: 100px;
    width: 99.6%;
    z-index: 1;/*este no tiene unidad de medida*/
}
nav{
    background-color: #333;
}
ul{
    padding: 20px;
}
ul li{
    display: inline;
}
a{
    color: white;
    text-decoration: none;
}
div{
    position: relative;
    top: 100px;
}
#nosotros{
    height: 100vh;
    background-color: aquamarine;
}