@font-face {
    font-family: "Outfit";
    src: url("../letter/Outfit-VariableFont_wght.ttf");
}
body{
    font-size: 18px;
    font-family: "Outfit";
    color: hsl(215, 51%, 70%);
    background-color: hsl(217, 54%, 11%);
}
#tarjeta{
    height: 644px;
    width: 362px;
    border-radius: 15px;
    background-color: hsl(216, 50%, 16%);
    box-shadow: 0px 40px 0px 15px rgb(12,23,41);
    position: absolute;
    top: calc(50% - 322px);
    left: calc(50% - 181px);
}
#equilibrio{
    width: 302px;
    border-radius: 10px;
    position: relative;
    top: 30px;
    left: calc(50% - 151px);
}
#informacion{
    width: 302px;
    position: relative;
    top: 30px;
    left: calc(50% - 151px);
}
h2{
    color: white;
    font-size: 24px;
    margin-top: 30px;
}
#contador{
    position: relative;
    margin-top: 30px;
}
#izquierda{
    position: relative;
    left: 10px;
    color: hsl(178, 100%, 50%);
}
#derecha{
    position: relative;
    left: 95px;
}
#pie{
    position: relative;
    top: 30px;
    border-style: solid none none;
    border-color: hsl(215, 51%, 70%);
    border-width: 1px;
    font-size: 14px;
}
#avatar{
    position: relative;
    width: 15%;
    top: 15px;
    border-style: solid;
    border-color: white;
    border-radius: 50%;
    border-width: 2px;
    margin-right: 10px;
}