body{
    color: white;
    font-family: 'Fredoka', sans-serif;
    background-color: #1c253f;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#busqueda{
    outline: none;
    width: 480px;
    border-radius: 5px;
    font-family: 'Fredoka', sans-serif;
    margin: 12px;
    padding: 10px;
}
#boton{
    color: white;
    width: 120px;
    border-radius: 5px;
    font-family: 'Fredoka', sans-serif;
    background-color: #0d6efd;
    border-color: #0d6efd;
    padding: 10px;
}
#resultado{
    background-color: #22326b;
    width: 600px;
    border-radius: 12px;
    padding: 25px;
    display: flex;
    justify-content: space-around
}
#rest{
    display: flex;
    justify-content: space-between;
}
img{
    width: 120px;
    border-radius: 50%;
    
}
.pp{
    padding-left: 20px;
}